.experiencia{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{
    color: #cccccc ;
}

.experiencia-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    max-width: 40ch ;
    color: #3d3d3d;
}

.experiencia-texto strong {
    color: #141414;
}

.empresa{
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f4f4f4;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.empresa::before{
    content: "";
    display: block;
    width: 8px;
    height: 30px;
    background: linear-gradient(#22946b,#b8ffe5);
    position: absolute;
    top: 35px;
    left: -8px;
}

.empresa-ano{
    position: absolute;
    top: 39px;
    left: -100px;
    color: #3d3d3d;
    font-size:1rem;
    width: 80px;
    text-align: right;
}

.empresa-titulo{
    font-size: 1.25rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto{
    font-size: 0.75;
    line-height: 1.4;
    color:#3d3d3d
}

.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li {
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #fff;
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {grid-template-columns: 1fr;
        gap: 40px;
    }
    .experiencia .subtitulo{
        color: #141414;   
    }

    .empresa-texto{
        font-size: 1.25rem;
    }

    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }

}

@media (max-width: 400px){
    .empresa{
        grid-template-columns: 1fr;
    }
}